apiVersion: apps/v1
kind: Deployment
metadata:
  name: projetofiap-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: projetofiap-api
  template:
    metadata:
      labels:
        app: projetofiap-api
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "80"
    spec:
      containers:
      - name: projetofiap-api
        image: projetofiap-api:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        env:
        - name: ConnectionStrings__RabbitMq
          value: "amqp://guest:guest@rabbitmq-service:5672"
        - name: ASPNETCORE_ENVIRONMENT
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: ASPNETCORE_ENVIRONMENT
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: projetofiap-api-service
spec:
  type: LoadBalancer
  selector:
    app: projetofiap-api
  ports:
  - port: 80
    targetPort: 80
