apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-secret
type: Opaque
data:
  # user: guest (base64)
  # pass: guest (base64)
  rabbitmq-user: Z3Vlc3Q=
  rabbitmq-pass: Z3Vlc3Q=
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  RABBITMQ_HOST: "rabbitmq-service"
  ASPNETCORE_ENVIRONMENT: "Production"
